<div class="row">
  <section class="col-8">
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books; index as i"
          (click)="selectBook(book)">
        <th scope="row">{{i + 1}}</th>
        <td>{{book.author}}</td>
        <td>{{book.title}}</td>
      </tr>
      </tbody>
    </table>
    {{selectedBook | json}}
  </section>
  <section class="col-4">
    <ba-book-details></ba-book-details>
  </section>
</div>
